################################################################################
#
################################################################################

/dist



################################################################################
#
################################################################################

# Outputs
src/**/*.js
src/**/*.js.map
build/

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*
yarn.lock
coverage/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
