################################################################################
#
################################################################################

/package-lock.json
/.huskyrc.js
/commitlint.config.js
/jest.config.js
/specifications.md

/coverage
/coverage-e2e
/.nyc_output

/doc/philosophy.md

/packages

/build

tsconfig*.json
tslint.json
*.spec.ts
__mocks__
__test__



################################################################################
#
################################################################################

# Configs / editors
.vscode/
.idea/
.editorconfig
.gitignore
.prettierrc
.sf.yml
.vcmrc
